<h1><%= @trip_detail.name %></h1>

<h2>Total to spend today</h2>
<h2>Add expense</h2>

<h3>Days Left</h3>
<h3>Total Budget Left: $<%= @trip_detail.budget %></h3>


<form action="/edit/<%= @trip_detail.id %>" method="get">
  <button>Edit trip</button>
</form>

 <a href="/trips/<%=session[:user_id]%>">Back to trips</a>
