<h1 class="center-align">Add an expense item</h1>

<form action="/detail/<%= @trip_detail.id %>/newexpense" method="post">

  <label>Amount</label>
  <input type="text" name="amount" value="">

  <label>Description</label>
  <input type="text" name="note" value="">

  <button class="waves-effect indigo lighten-3 btn-large">Submit</button>

</form>

<a href="/detail/<%= @trip_detail.id %>">Back to <%= @trip_detail.name %></a>
