  <h1 class="header center-align">Welcome to Shoestring</h1>
  <p class="center-align">A simple budgeting tool for your travels.</p>

  <div class="center-align">
    <a href="/session/new" id="home-btn" class="waves-effect indigo lighten-2 btn-large">Login</a>
    <a href="/session/sign-up" id="home-btn" class="waves-effect indigo lighten-2 btn-large">Sign up</a>
  </div>
