<div class="welcome">
  <h1>Welcome to String</h1>
  <p>A simple budgeting tool for your travels.</p>

<form action="/session/new" method="get">
  <button class="hero-btn">Login</button>
</form>

<form action="/session/sign-up" method="get">
  <button class="hero-btn">Signup</button>
</form>

</div>
