<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>String</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <nav class="N/A transparent" role="navigation">
        <div class="nav-wrapper container">

          <a href="/" class="logo black-text brand-logo right">Shoestring  <i class="fa fa-map" aria-hidden="true"></i></a>

          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="black-text material-icons">menu</i></a>

          <!-- movile nav -->
            <% if logged_in? %>
            <ul id="mobile-demo" class="side-nav black-text">
              <li>
                <a>Logged in as <%= current_user.first_name %></a>
              </li>
              <li>
                <a href="/session/logout">Logout</a>
              </li>
            </ul>
          <% else %>
          <ul id="mobile-demo" class="side-nav black-text">
            <li>
              <a href="/session/new">Login</a>
            </li>
            <li>
              <a href="/session/sign-up">Sign up</a>
            </li>
          </ul>
              <% end %>

            <!-- Desktop nav -->
            <% if logged_in? %>

            <ul class="black-text left hide-on-med-and-down">
              <li>
                <a class="black-text">Logged in as <%= current_user.first_name %></a>
              </li>
              <li>
                <a href="/session/logout" class="waves-effect blue-grey darken-3 btn">Logout</a>
              </li>
            </ul>
          <% else %>
          <ul class="left hide-on-med-and-down">
            <li>
              <a class="black-text" href="/session/new">Login</a>
            </li>
            <li>
              <a class="black-text" href="/session/sign-up">Sign up</a>
            </li>
          </ul>
              <% end %>
        </div>

      </nav>
    </header>




<main>
  <div class="container">
    <%= yield %>
  </div> <!-- end of container div -->
</main>

      <footer class="page-footer blue-grey darken-1">
        <div class="container">
            <p class="white-text right-align"><i class="fa fa-terminal fa-lg" aria-hidden="true"></i><a class="grey-text lighten-2" href="https://github.com/christiearcus">Christie Metson</a> General Assembly WDI Project 2</p>        
        </div>
      </footer>

      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
      <script src="/javascripts/application.js"></script>
  </body>
</html>
