<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>String</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel='stylesheet' href='/stylesheets/basscss.min.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="page-wrapper">
  <nav>
    <% if logged_in? %>
    <form action="/session/logout" method="post">
      <button class="logout">Logout</button>
    </form>
      <img class="logo" src="/assets/logo-large.png">
      <p>Logged in as <%= current_user.first_name %></p>
      <% else %>
            <img class="logo" src="/assets/logo-large.png">
            <a href="/session/new">Login</a>
            <a href="/session/sign-up">Sign up</a>
      <% end %>
  </nav>
  <div class="clear"></div>

  <div class="content">
    <%= yield %>
  </div>
<!--
<div class="footer">
  <footer>
    <p>
      Christie Metson 2016
    </p>
    <p>
      General Assembly Project Two
    </p>
  </footer>
</div> -->


</div> <!-- end of page wrapper div  -->

</body>
