<h1>Login</h1>

<div class="clearfix form">

  <div class="col col-12">
  <form action="/session/new" method="post">
    <label>Email</label>
    <input type="text" name="email" value="">
  </div>

  <div class="col col-12">
    <label>Password</label>
    <input type="password" name="password" value="">

    <div class="col col-12">
      <button class="hero-btn">Login</button>
    </div>
  </form>
</div>
