<h1>Add a trip</h1>

<a href="/trips/<%= session[:user_id] %>">Back to trips</a>

<div>
  <form action="/new" method="post">

    <label>Trip name</label>
    <input type="text" name="tripname" value="">

    <label>Start date</label>
    <input type="date" name="start" value="e.g. 08-Jan-2016">

    <label>End date</label>
    <input type="date" name="end" value="e.g. 22-Mar-2016">

    <label>Duration (Hardcoded)</label>
    <input type="text" name="duration" value="">

    <label>Budget</label>
    <input type="text" name="budget" value="">

    <button>Create!</button>

  </form>
</div>
