<h1>Add a trip</h1>

<form action="/new" method="post">

  <label>Trip name</label>
  <input type="text" name="tripname" value="">

  <label>Start date</label>
  <input type="text" name="start" value="e.g. 08-Jan-2016">

  <label>End date</label>
  <input type="text" name="end" value="e.g. 22-Mar-2016">

  <label>Budget</label>
  <input type="text" name="budget" value="">

  <button>Create!</button>

</form>
