<h1>Add a trip</h1>

<form action="/detail" method="get">

  <label>Trip name</label>
  <input type="text" name="trip-name" value="">

  <label>Start date</label>
  <input type="text" name="start" value="">

  <label>End date</label>
  <input type="text" name="end" value="">

  <label>Budget</label>
  <input type="text" name="name" value="">

  <button>Create!</button>
</form>
