<h1 class="center-align">Sign up</h1>

<div>

    <form action="/sign-up" method="post">

    <label>First name</label>
    <input type="text" name="firstname" value="">

    <label>Last name</label>
    <input type="text" name="lastname" value="">

    <label>Email</label>
    <input type="text" name="email" value="">

    <label>Choose a password</label>
    <input type="password" name="password" value="">

    <button class="waves-effect blue-grey darken-3 btn-large">Sign up!</button>

</form>


</div>
