<h1>Sign up</h1>

<form action="/sign-up" method="post">

  <label>First name</label>
  <input type="text" name="firstname" value="">

  <label>Last name</label>
  <input type="text" name="lastname" value="">

  <label>Email</label>
  <input type="text" name="email" value="">

  <label>Choose a password</label>
  <input type="password" name="password" value="">

  <button>Sign up!</button>

</form>
