<h1>Your trips</h1>

<div class="trips-container">
  <% @trips.each do |trip| %>
  <div class="trip-item">
    <form action="/detail/<%= trip.id %>" method="get">
      <button class="logout"><%= trip.name %></button>
    </form>
  </div>
  <% end %>
</div>

<div class="new">
  <form action="/new" method="get">
    <button class="hero-btn">Add new trip</button>
  </form>
</div>
