/*GLOBAL STYLES*/

html {
  height: 100%;
  margin: 0 auto;
}

html, body {
  height: 100%;
}

.page-wrapper {
  height: 100%;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif;
  background-color: #DBC7BE;
}

h1 {
  font-size: 4em;
  font-weight: 200;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav { width: 100%; margin-top: 2em; text-transform: uppercase; font-size: 0.9em;}
nav > p {
  display: inline;
  float: right;
  padding-right: 2em;
  margin-top: 0.5em;
}
nav > form {
  display: inline;
  float: right;
  margin-right: 2em;
}
nav > a {
  float: right;
  text-decoration: none;
  padding: 5px;
  padding-right: 2em;
  color: black;
}
.logo { max-width: 150px; margin-left: 2em; padding-top: 1em; }
.clear { clear: both; }
.logout {
  padding: 0.6em 2em;
  border: 1px solid black;
  border-radius: 0px;
  background: transparent;
  color: black;
  text-transform: uppercase;
  font-size: 0.9em;
}
.logout:hover { background: black; color: white;}
.logout:focus { outline: 0; }

/*INDEX STYLES*/

.welcome {
  text-align: center;
  margin-top: 4em;
}

/*LOGIN PAGE*/

.hero-btn {
  margin-top: 1em;
  padding: 0.6em 2em;
  border: none;
  border-radius: 0px;
  background: #CBB3BF;
  color: black;
  font-size: 2em;
  font-weight: 200;
}
.hero-btn:hover {
  background: #EF959C;
}

/*FORMS*/

.form {
  margin: 0 auto;
  max-width: 70%;
}

label {
  display: block;
  text-transform: uppercase;
}

input {
  display: block;
  /*margin: 0 auto;*/
  width: 70%;
  height: 2em;
  margin-bottom: 2em;
  margin-top: .5em;
  border: 1px solid gainsboro;
  padding: .5em;
}

input:focus {
  outline: 0;
}

input[type=text] {
    color: black;
    font-size: 1.2em;
}

input[type=password] {
    color: black;
    font-size: 1.2em;
}

/*TRIPS HOME*/

.trips-container {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.trip-item {
  background: white url("/assets/background.jpg");
  background-size: cover;
  color: white;
  min-height: 15em;
  min-width: 25%;
  margin: 2px;
}

.trip-item > form {
  text-align: center;
  padding-top: 30%;
  font-size: 1.5em;
}



/*FOOTER*/

footer {
  margin-top: 3em;
  margin-bottom: 2em;
  margin-right: 1em;
}

footer > p {
  display: block;
  text-align: right;
  line-height: 0.4;
  font-weight: 200;
}

.new {
  text-align: center;
}

/*MEDIA QUERIES*/

@media (max-width: 415px) {
  .trip-item {
    min-height: 10em;
    min-width: 50%;
  }
}
