body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif;
  background: linear-gradient(#E0D8DE, white) no-repeat;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


main {
  flex: 1 0 auto;
}

.logo {
  font-family: 'Arvo', serif;
}

.header {
  font-weight: 200;
}

.sub-header {
  font-weight: 200;
}

nav {
  box-shadow: none !important;
}


#home-btn {
  margin: 3em 1em 3em 1em;
}

.change-inline {
  display: inline-block;
}
